@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

@font-face
{
    font-family: 'tanseek';
    src: url(assets/fonts/Tanseek\ Modern\ Pro\ Arabic\ Book.otf) format('opentype');
    src: url(assets/fonts/Tanseek\ Modern\ Pro\ Arabic\ Book.ttf) format('truetype');
}

:root
{
    --cor1: #e7e7e7;
    --cor2: #000000;
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.tema
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 20px;

}

.checkbox
{
    opacity: 0;
    position: absolute;
}

.label
{
    background-color: #fafafa;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 22px;
    width: 50px;

    transform: scale(1.2);
}

body.light .label
{
    background-color: #0f0f10;
}

.label .ball
{
    background-color: #0f0f10;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 3px;
    height: 18px;
    width: 18px;
    
    transform: translateX(0px);
    transition: transform .3s linear;
}


body.light .label .ball
{
    background-color: #fafafa;
}


.checkbox:checked + .label .ball
{
    transform: translateX(27px);
}

.fa-moon
{
    color: #0f0f10;
}

.fa-sun
{
    color: #0f0f10;
}

body.light .fa-sun
{
    color: #fafafa;
}

/* -------------------------------------------------- */


body
{
    height: 100vh;
    background-color: #0f0f10;
    transition: background .3s linear;
}

.light
{
    background-color: #fafafa;
}

.principal
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#apr
{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(svg/cat-astronaut-animate.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 100px;
    transition: .2s;
}

.light #apr
{
    background: url(svg/cat-astronaut-animate-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#apr2
{
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form
{
    width: 50%;
    background-color: #121213;
    box-shadow: 0px 2px 22px 0px #000000cc;
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.light form
{
    background-color: #fafafa;
    box-shadow: 0px 2px 12px 0px #000000cc;
    transition: background .3s linear;
}

form input
{
    font-size: 12px;
    background-color: #212122;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
}

.light form input
{
    color: #000;
}

form #bar
{
    position: absolute;
    width: 23px;
    height: 2px;
    top: 56px;
    margin-left: 2px;
    background: var(--cor1);
}

.light form #bar
{
    background: var(--cor2);
}

form input:focus
{
    outline: 0;
}

.light form input
{
    background-color: #d7d7d7;
    transition: background .3s linear;
}

form h1
{
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
}

.light form h1
{
    color: #000;
}

form p
{
    color: #ffffffa1;
    font-size: 13px;
    margin: 10px 0px;
}

#sig-in
{
    text-align: center;
    margin-top: 2em;
    font-size: .7em;
}

#sig-in a
{
    color: #676768;
    transition: .5s;
}

#sig-in a:hover
{
    color: var(--cor1);
}

.light #sig-in a:hover
{
    color: var(--cor2);
    font-weight: bold;
}

.light form p
{
    color: #212122;
    transition: background .3s linear;
}



form button
{
    height: 30px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    background-color: var(--cor1);
    cursor: pointer;
    color: #121213;
    transition: all 1s;
}

form button:hover
{
    box-shadow: 0px 0px 5px 0px var(--cor1);
}

/* -------------------------------------------------- */


@media only screen and (max-width: 1200px)
{
    form
    {
        width: 60%;
    }

    #apr
    {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 950px)
{
    form
    {
        width: 70%;
    }
}

@media only screen and (max-width: 800px)
{

    #apr
    {
        margin-left: 20px;
    }

    #apr2
    {
        width: 70%;
        height: 100%;
        margin: 0;
    }

    form
    {
        width: 70%;
    }
}

@media only screen and (max-width: 670px)
{

    #apr
    {
        width: 0;
        margin: 0;
    }

    #apr2
    {
        width: 100%;
    }

    form
    {
        width: 80%;
        
    }
}